@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {

    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

@supports (scrollbar-color: #2b2c2f #2f3136) {

    * {
        /* scrollbar-color : #2b2c2f #2f3136; */
        scrollbar-width: none;
    }

    .content-list{
        /* scrollbar-color : #2b2c2f #2f3136; */
        scrollbar-width: auto;

    }
}


@layer components {


    
    

    .sidebar-icon {
        @apply  
        relative flex items-center justify-center
        h-12 w-12 mt-2.5 mb-2.5 mx-auto 

        
        bg-white text-[#2e3338]
        hover:bg-secondary hover:text-white

        dark:bg-[#36393f] dark:text-white
        dark:hover:bg-secondary dark:hover:text-white
        

        rounded-3xl hover:rounded-xl  pt-6 pb-6
        transition-all duration-[220ms] ease-linear
        cursor-pointer  ;
        
    }

    .sidebar-tooltip {
        /* @apply 
        absolute w-auto p-2 m-2 min-w-max left-6 
        rounded-md shadow-md
        text-white bg-gray-800
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left; */

    }

    .sidebar-hr {
        @apply bg-gray-200 dark:bg-gray-800 
        border border-[#c6cad0] dark:border-[#373a3f] rounded-full
        mx-5;
      }
      
    .channel-hr {
        @apply bg-gray-200 dark:bg-gray-800  flex-shrink-0
        border border-[#c6cad0] dark:border-[#373a3f] rounded-full
        mx-4;
      }

    
      .content-container {
        @apply flex flex-col 
        bg-white dark:bg-gray-700
        m-0 
        h-screen w-full 
        overflow-hidden;
      }

      .content-list {
        @apply flex flex-col items-center  
        h-full w-full 
        mt-0 ml-0 mx-auto px-0 pb-12
        
        overflow-y-scroll;
      }

      .post {
        @apply w-full
        flex flex-row items-center justify-evenly
        py-4 px-8 m-0
        
        cursor-pointer;
      }
    
      .post-selected {
        @apply bg-green-400 dark:bg-gray-900
        shadow-md;
      }
    
      .post-content {
        @apply w-4/5 
        flex flex-col justify-start 
        
        ml-auto;
      }
    
      .post-text {
        @apply text-lg text-left text-gray-800 dark:text-[#dcddd4]
        mr-auto whitespace-normal;
      }
    
      .post-owner {
        @apply text-left font-sans text-gray-800 dark:text-[#d1cdc4] mr-2 cursor-pointer;
      }
    
      .avatar-wrapper {
        @apply flex flex-col items-center
        w-12 
        m-0 ml-auto mb-auto;
      }

      

      
    
      .avatar {
        @apply flex-none
        w-12 h-full 
        rounded-full shadow-md
        object-cover bg-gray-100 
        mb-auto mt-0 mx-0 
        cursor-pointer;
      }
    
      .timestamp {
        @apply text-xs text-left font-sans text-gray-500 dark:text-white ml-2;
      }






    
    .top-navigation {
        @apply
        flex flex-row items-center  flex-shrink-0
        bg-white dark:bg-gray-700 
        min-w-fit
        w-full h-[68px] m-0
        
        pr-[19rem]
        shadow-lg;
    }

    

    .top-navigation-icon {
        @apply
        text-[#4f5660] flex-shrink-0 
        dark:text-[#b9bbbe]
        mr-3.5 ml-3.5 
        transition duration-300 ease-in-out
        hover:text-secondary
        cursor-pointer;

    }
    .top-navigation-icon:first {
        @apply
        ml-auto mr-4;
    }

    .title-hashtag {
        @apply text-lg tracking-wider font-sans text-secondary  
        ml-2 my-auto;
      }
    
    .title-text {
        @apply text-xl text-[#060607] dark:text-white
        tracking-wider font-sans text-opacity-80 
        mr-auto ml-2 my-auto 
        transition duration-300 ease-in-out;
      }

    .search {
        @apply w-1/12 flex items-center justify-start
        bg-[#e3e5e8] dark:bg-gray-900 
        text-gray-500
        px-2 h-9 ml-0
        mr-0
        rounded-md 
        transition duration-300 ease-in-out;

    }

    .search-input {
        @apply
        w-full font-sans font-sans
        bg-transparent outline-none text-[#4f5660]
        dark:text-white
        placeholder-[#2e3338]
        dark:placeholder-[#b9bbbe]
        pl-1 rounded;
    }


    .bottom-bar {
        @apply
        flex flex-row items-center justify-between
        bottom-2
        rounded-lg 
        bg-[#ebedef] dark:bg-gray-600 
        px-4 ml-8 mr-8
        mb-6
        h-12;
    }

    .bottom-bar-input {
        @apply
        font-sans w-full bg-transparent
        outline-none
        ml-0 mr-auto text-gray-500/100 dark:text-white
        placeholder-[#72767d]
        cursor-text;

    }

    .channel-bar {
        @apply w-[15.5rem] h-screen m-0 ml-16 bg-[#f2f3f5] dark:bg-gray-800 flex-shrink-0
        overflow-hidden;
    }

    .channel-container {
        @apply flex flex-col items-center justify-start flex-shrink-0 
        h-screen
        p-1 m-0
        overflow-y-scroll;
    }

    .channel-block {
        @apply flex items-center justify-center flex-shrink-0
        h-16 
        m-0 p-0;

    }

    .channel-block-text {
        @apply text-lg tracking-wider font-bold
        text-secondary dark:text-secondary
        mr-auto ml-4 my-auto align-middle;
    }


    .member {
        @apply w-full
        flex flex-row items-center justify-evenly
        py-4 px-8 m-0
        
        cursor-pointer;
    }

    .member-avatar{
        @apply flex-none
        w-12 h-full 
        rounded-full shadow-md
        object-cover bg-gray-100 
        mb-auto mt-0 mx-0 
        cursor-pointer;
    }

    .member-owner {
        @apply text-left pl-6 font-sans text-gray-800 dark:text-[#d1cdc4] cursor-pointer;
    }

    .member-avatar-wrapper {
        @apply flex flex-col items-center
        w-12 
        m-0 ml-auto mb-auto;
      }
    
    .member-content {
        @apply w-4/5 
        flex flex-col justify-start 
        
        ml-auto;
    }

    .member-playing{
        @apply 
    
        text-sm text-gray-800 dark:text-[#dcddd4]
        pl-6 whitespace-normal;

    }

     .Member-bar {
        @apply 
        w-80 
        pt-[68px]
        h-screen m-0 ml-0 
        bg-[#f2f3f5] dark:bg-gray-800 flex-shrink-0
        overflow-y-scroll;
    }

    .Member-container {
        @apply flex flex-col items-center justify-start 
        h-screen
        p-1 m-0;
    }

    .Member-block {
        @apply flex items-center justify-center 
        h-16 
        m-0 p-0;

    }

    .Member-block-text {
        @apply text-lg tracking-wider font-bold flex-shrink-0
        text-secondary dark:text-secondary
        mr-auto ml-4 my-auto align-middle;
    }


    










   

    .dropdown {
        @apply m-0 w-full px-2 pb-2
        transition duration-300 ease-in-out;
    }

    .dropdown-header {
        @apply flex flex-row items-center justify-evenly
        mx-0 text-secondary
        cursor-pointer;
    }

    .dropdown-header-text {
        @apply text-secondary text-opacity-90
        text-lg font-sans
        cursor-default;
    }

    .dropdown-header-text-selected {
        @apply text-secondary text-opacity-90 text-lg font-bold;

    }

    .dropdown-selection {
        @apply flex flex-row items-center justify-evenly
        mt-1 mr-auto ml-2
        transition duration-300 ease-in-out
        cursor-pointer;

    }
    .dropdown-selection-text {
        @apply text-gray-500 dark:text-white
        font-sans 
        mr-auto 
        transition duration-300 ease-in-out 

        cursor-pointer;
      } 
}

@tailwind utilities;